.flex-container-amparo {
    display: flex;   
    background-color: lightgray;
    padding: 40px;
    height: auto;  
}

.flex-container-amparo > div {  
    color: black;
    background-color: white;
    margin: 20px;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    text-align: justify;
}

.foto-amparo-acerca {
	margin: 0 auto;
    display: block;
	width: 60%;
	min-width: 300px;
}

@media screen and (max-width: 850px){
    .flex-container-amparo {
		display: block;
	}
    .foto-amparo-acerca {
        display: block;
        width: 60%;
        min-width: 150px;
    }
}

