
.galeria-container *{
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color:#f52525;
  
}

.galeria-container.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0px 20px;
}

.galeria-container.container .heading{
  width: 50%;
  padding-bottom: 50px;
}
.galeria-container.container .heading h3{
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 20px;
  border-bottom: 2px solid #222;
}

.galeria-container.container .heading h3 span{
  font-weight: 100;
}
.galeria-container.container .box{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.galeria-container.container .box .fotos{
  display:flow-root;
  flex-direction: column;
  width: 40%;
}

.galeria-container.container .box .fotos img{
  width: 100%;
  padding-bottom: 5px;
  border-radius: 5px;
}

.galeria-container.container .btn{
  margin: 40px 0 70px 0;
  background: #222;
  padding: 10px 40px ;
  border-radius: 5px;
}

.galeria-container.container .btn a{
 color: #fff;
 font-size: 1.2em;
 text-decoration: none;
 font-weight: bolder;
 letter-spacing: 3px;
}

@media only screen and (max-width: 769px){
    .galeria-container.container .box{
   flex-direction: column;
  }

.galeria-container.container .box .fotos{
  width: 100%;
}





}

@media only screen and (max-width: 643px){
.galeria-container.container .heading{
  width: 100%;
}
.galeria-container.container .heading h3{
  font-size: 1em;

}







}
