/* HEADER */
.header {
    display: flex;
    justify-content: left;
    align-items: center;
}
/* LOGO */
.logo {
    width: 50%;
}
/***NAV***/
.nav {
    margin: 30px 0;
}
.nav ul {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.nav li {
    list-style: none;
}
.nav a {
    text-decoration: none;
    color: #f52525;
    text-transform: uppercase;
	letter-spacing: 1px;
    font-size: 16px;
	font-weight: 1000;
	transition: color 0.25s;
}
.nav a:hover {
    color: rgb(7, 12, 80);
}